<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>How to Use EditAura</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">EditAura</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/how-to-use">How to use</a>
            </li>
          </ul>
          <div class="d-flex" role="register">
            <button class="btn btn-outline-success mx-2" type="submit">Login</button>
            <button class="btn btn-outline-success mx-2" type="submit">SignUp</button>
          </div>
        </div>
      </div>
    </nav>

    <div class="container mx-3 my-2">
      <h1 class="fs-2 text">How to Use EditAura</h1>
      
      <div class="row my-2">
        <div class="col-md-8 offset-md-2">
          <ol class="list-group list-group-numbered">
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Select an Image</div>
                Click on the "Choose File" button and select the image you want to edit from your device.
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Choose an Operation</div>
                From the dropdown menu, select one of the following operations:
                <ul>
                  <li>Convert to PNG</li>
                  <li>Convert to Grayscale</li>
                  <li>Convert to Webp</li>
                  <li>Convert to Jpg</li>
                </ul>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Submit</div>
                Click the "Submit" button to process your image.
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Download Your Edited Image</div>
                After processing, you'll see a success message with a link to your edited image. Click the link to view and download your processed image.
              </div>
            </li>
          </ol>
        </div>
      </div>

      <div class="mt-4">
        <h2 class="fs-4">Supported File Types</h2>
        <p>EditAura supports the following image file types:</p>
        <ul>
          <li>PNG</li>
          <li>WEBP</li>
          <li>JPG/JPEG</li>
          <li>GIF</li>
        </ul>
      </div>

      <div class="mt-4">
        <h2 class="fs-4">Tips</h2>
        <ul>
          <li>Make sure your image is in one of the supported file formats.</li>
          <li>For best results, use high-quality original images.</li>
          <li>The processed image will be available for a limited time, so make sure to download it promptly.</li>
        </ul>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>